<!-- partials/home.html 
<section class="home">
    <h2>Page d'accueil</h2>
    <p>
        {{ message }}
    </p>
</section>

<body class="ng-cloak" ng-controller="MainCtrl">



-->


 <section id="datepicker">
                        <div class="page-header">
                          <h1>Datepicker</h1>
                              </div>



<!--<div ng-controller="DatepickerDemoCtrl">-->
<div >
{{ message }}
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
        <uib-datepicker ng-model="dt" show-weeks="true" class="well well-sm"></uib-datepicker>
    </div>
</div>
</section>


