<!DOCTYPE html>
<html lang="fr" ng-app="appMeal" >
    <head>
        <meta charset="utf-8" />
		
		<!-- angular scripts -->
		<script src= "libext/js/angular.min.js"></script>
		<script src= "libext/js/angular-route.min.js"></script>
		<script src= "libext/js/ui-bootstrap-tpls-0.14.3.min.js"></script>

		<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> -->

		
		<!-- Latest compiled and minified CSS  : BOOTSTRAP  -->
		<!--link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="libext/css/bootstrap.min.css">
		
		
		<!-- Latest compiled and minified JavaScript -->
		<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
-->
		<!-- JQUERy optional...  -->
		<!--
		<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css' />
		<script src='http://code.jquery.com/jquery-1.9.1.js'></script>
		<script src='http://code.jquery.com/ui/1.10.2/jquery-ui.js'></script>
		-->
	
	
		<!-- FOR DATEPICKER ... -->
		<!--
		<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.7/fastclick.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.0.0/FileSaver.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
		
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-touch.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
		 <script src="ui-bootstrap-tpls-0.14.3.min.js"></script>
	   <script src="assets/plunker.js"></script>
		<script src="assets/app.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
		-->
		<!-- end for DATEPICKER -->
		
		
		
	
        <title>Route App</title>        
        <link rel="stylesheet" href="web/css/style.css">

        <script src="js/script.js"></script>
        <script src="js/navModule.js"></script>
        <script src="js/planningModule.js"></script>
        <script src="js/listOfAlimentModule.js"></script>
        <script src="js/starterModule.js"></script>
        <script src="js/courseModule.js"></script>
        <script src="js/dessertModule.js"></script>
        <script src="js/breakfastModule.js"></script>
        <script src="js/testDirectiveModule.js"></script>
	
		<!-- Angular Material Dependencies -->
		<!--
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script> -->


		<!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    </head>
    <body>
		
	
		<h1 id="h1TitleMeal" >Meals</h1>
		<nav id="navMeal" ng-controller="navCtrl" >
			<a href="#/planning" class="btn btn-success" ng-class="{ buttonNavActive: isActive('/planning')}" >Planning</a>
            <a href="#/listOfAliment" class="btn btn-success" ng-class="{buttonNavActive: isActive('/listOfAliment')}" >List of Aliments</a>
			<span id="sepaNav" >&nbsp | &nbsp</span>
            <a href="#/starter" class="btn btn-success" ng-class="{ buttonNavActive: isActive('/starter')}" >Starter</a>
            <a href="#/course" class="btn btn-success" ng-class="{ buttonNavActive: isActive('/course')}" >Course</a>
            <a href="#/dessert" class="btn btn-success" ng-class="{ buttonNavActive: isActive('/dessert')}" >Dessert</a>
			<a href="#/breakfast"  class="btn btn-success" ng-class="{ buttonNavActive: isActive('/breakfast')}" style="text-decoration: line-through;">Breakfast</a>
			<a href="#/testDirective"  class="btn btn-success" ng-class="{ buttonNavActive: isActive('/testDirective')}" >Test Directive</a>
        </nav>
		
		<!--
		<div ng-controller="DatepickerDemoCtrl">
			<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
		</div>
		<div ng-controller="tesst">
			{{myMsg}}
		</div>
		
		
		<div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              
			  <!-- span : button pour ouvrir le calendar ->
 			  <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
			  
            </p>
        </div>
		
		
		 <script>angular.module('appMeal').controller('tesst', function ($scope) {
			$scope.myMsg="BOOOOOOOOOOOM";
		 });
		 
		 angular.module('appMeal').controller('DatepickerDemoCtrl', function ($scope) {
			
				$scope.dt = new Date(); 
				$scope.open = function($event) {
    $scope.status.opened = true;
  };
		 });
		 </script>
		 
		 
		 
		 -->
		 
        <div ng-view>
        </div>
		
    </body>
</html>