/*!
  * Ajout de quelques règles pour 
  * la routeApp
  */
section, h1, h2{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}
h1, h2, h3{
	font-style: italic;
	text-align: center;
	padding:15px;
	margin:0; /* important car sinn il semble avoir un margin de base... */
}

#h1TitleMeal{
	color:white;
	background:orange;
}
#navMeal{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	
	text-align: center;
	border-bottom:1px #5cb85c solid;
	padding:30px;
}
.buttonNavActive{
	color:orange;
	font-size:10px;
}
#sepaNav{
	color :#5cb85c;
	font-size:20px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx stylePlanning xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
section.planning{
	background:#DBEAF9;
}
#tablePlaning, #tablePlaning th , #tablePlaning td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
#tablePlaning{
	border-radius: 0 0 0 10px ;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
#tablePlaning tr:nth-child(odd) {
  background-color: #f1f1f1;
}
#tablePlaning tr:nth-child(even) {
  background-color: #ffffff;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx styleListOfAliment xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
section.listOfAliment{
	background:#D9F7E1;
}

  /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
 /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx styleCourses xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.h2TitleRecipe{
	padding-top:30px;
	padding-bottom:40px;
	background:#D9F7E1;
}

.recipe{
	border:3px solid #404040;/*chocolate bleu clair*/   /* blueviolet*/
	/*border:2px solid orange;*/
	border-radius: 10px ;
	width: 70vw;
	margin-left: 22vw;
	margin-top:10px; /* espacement entre chaque recipe */
	padding:10px;
	opacity:1;
	color: white;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000; 
	font-family:Comic Sans MS;
	background-repeat:repeat;
	background-size:100%;
	background-position:top left;
	/*background-repeat:no-repeat, repeat;
	background-size:30%, 100%;
	background-position:5% 15%, top left;
	*/
	 /* **for making it grey **
	 filter: grayscale(1); 
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	*/
			
}

.recipeNoPix{
	background-repeat:repeat;
	background-size:100%;
	background-position:top left;
}
.divTopRecipe{
	margin-top:15px;
	overflow:hidden; 
}

.littlePixRecipe{
	width:350px;
	height:200px;
	
	background-repeat:no-repeat;
	background-size:100%;
	background-position:top left;
	background-image:url("../images/burger2.jpg");
	
	display: inline-block;
	margin-left:2vw;
	
}
.ingredientRecipe{
	display: inline-block;
	margin-left:2vw;
	vertical-align:top;
	font-style:bold;
	font-size:large;
}
.h4TitlePreparation{
	margin-left:5vw;
}
.preparationRecipe{
	margin-left:2vw;
	font-style:bold;
	font-size:large;
}

/*
#recipeBurgers{
	background-image:url("../images/burger.jpg");
}
#littlePixBurgers{
	background-image:url("../images/burger2.jpg")
}

#recipeLasagna{
	background-image:url("../images/lasagne.jpg");
}
#littlePixLasagna{
	background-image:url("../images/lasagne2.jpg");
}

#recipeLasagna2{
	background-image:url("../images/blueSlateSlab.jpg");

}
#recipeLasagna3{
	background-image:url("../images/blackSlateSlab.jpg");
}
*/


#navRecipe{
	float: left;
	margin-left:2vw;
}

#navRecipe ul{
    list-style-type: none;
	padding-left:0;
}

#navRecipe ul li{
	/*border:3px solid chocolate;*/  /*bleu clair*/   /* blueviolet*/
	border-radius: 15px ;
	margin-top:10px;
	background-image:url("../images/blackSlateSlab.jpg");
	
	border:1px solid orange;
	text-align: center;
	/*padding : 6px 12px 6px 12px;*/
	padding:0.4vh 1vh 0.4vh 1vh;
	width : 15vw;
	min-width:60px; 
	overflow:hidden; /*permet de cacher le texte qui dépasse*/
}

#navRecipe ul li a{
	color: white;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000; 
	font-family:Comic Sans MS;
}
.navRecipeFixed {
	position: fixed;
	top:0;
}

.blackColor{
	color:black;
}

  /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
 /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx planning xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


.divTopPlanning{
	margin-top:15px;
	margin-bottom:30px;
	border-radius: 15px ;
	border:2px solid orange;
	/*min-width:1000px;*/
	overflow:auto; /* marche pas...*/
}

.chooseRecipe{
	/*width:350px;
	height:200px;
	
	background-repeat:no-repeat;
	background-size:100%;
	background-position:top left;
	background-image:url("../images/burger2.jpg");
	*/
	border-bottom:2px solid #428bca;
	border-radius:10px;
	/*margin-left:2vw;*/
	
}
.buttonChooseRecipe{
	margin: 15px 0 15px 3vw; /*top right bottom left*/
}
.listRecipe{
	padding-top: 25px;
	padding-bottom: 15px;
	
	/*margin-left:2vw;
	vertical-align:top;
	font-style:bold;
	font-size:large;
	*/
}

.elementListRecipe{

	display: inline-block;
	margin-left: 3vw; /*top right bottom left*/
	margin-bottom:10px;
	font-style:bold;
	font-size:large;
	
	padding : 6px 12px;
	border:2px solid #428bca; /*color blue like btn-primary*/
	border-radius:5px;

}
















