/*!
  * Ajout de quelques règles pour 
  * la routeApp
  */
section{
	padding-top:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}
h1, h2{
	font-style: italic;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 0px;
	padding:20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}
nav{
	padding:30px;
	margin:0px;
	text-align: center;
}
section.home{
	background:#DBEAF9;
}
section.contact{
	background:#D9F7E1;
}
section.contact textarea{
	width: 100%;
	padding: 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	color:#777;
	background:#F4F4F4;
}

section.planning{
	background:#DBEAF9;
}
section.listOfAliment{
	background:#D9F7E1;
}



.base-class {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  color:blue;
}

.base-class.my-class {
  color: red;
  font-size:3em;
}.base-class.my-ass {
  color: yellow;
  font-size:5em;
}.base-class.my-init {
  color: purple;
  font-size:2em;
}

#mealTitle{
color:white;
background:orange;
}
.myActive{
color:pink;
  font-size:2em;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx styleCourses xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
#sectionMeals{
	
}

.recipe:before {
    display: inline-block;
    width: 33%;
    min-width: 200px;
}
.recipe{
	border:3px solid chocolate;/*bleu clair*/   /* blueviolet*/
	border-radius: 10px ;
	height: 650px;
	width: 70%;
	margin-left: 20%;
	margin-top: 10px;
	opacity:1;
	color: white;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000; 
	font-family:Comic Sans MS;
	background-repeat:no-repeat, repeat;
	background-size:30%, 100%;
	background-position:5% 15%, top left;
}
.recipeNoPix{
	border:3px solid chocolate;/*bleu clair*/   /* blueviolet*/
	border-radius: 10px ;
	height: 650px;
	width: 70%;
	margin-left: 20%;
	margin-top: 10px;
	opacity:1;
	color: white;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000; 
	font-family:Comic Sans MS;
	background-repeat:repeat;
	background-size:100%;
	background-position:top left;
}
.ingredients{
	margin-left:40%;
	font-style:bold;
	font-size:large;  
}

.preparation{
	margin-left:10%;
	font-style:bold;
	font-size:large;
}

#burgers{
	background-image:url("../images/burger2.jpg"), url("../images/burger.jpg");
}

#lasagna{
	background-image:url("../images/lasagne2.jpg"),url("../images/lasagne.jpg");
}
#lasagna2{
	background-image:url("../images/blueSlateSlab.jpg");

}
#lasagna3{
	background-image:url("../images/blackSlateSlab.jpg");
}



#navCourses{
	float: left;
	margin-left:2vw;
}

#navCourses ul{
    list-style-type: none;
	padding-left:0;
}

#navCourses ul li{
	/*border:3px solid chocolate;*/  /*bleu clair*/   /* blueviolet*/
	border-radius: 4px ;
	margin-top:10px;
	background-image:url("../images/blackSlateSlab.jpg");
	text-align: center;
	padding:0.2vh 1vh 0.2vh 1vh;
	width : 15vw;
	min-width:80px; 
	overflow:hidden; /*permet de cacher le texte qui dépasse*/
}

#navCourses ul li a{
	color: white;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000; 
	font-family:Comic Sans MS;
}
.navCoursesFixed {
	position: fixed;
	top:0;
}